@mixin variable($variable, $property, $fallback) {
  // Fallback for browsers that don't support css vars
  #{$property}: $fallback;
  #{$property}: var(--#{$variable});
}
.mp-p__ct {
  &__header {
    border-bottom: 1px solid rgb(230, 230, 230);
    padding: 10px 0;
  }
  &__title {
    @include variable(mp-product-filter_title_fontsize, font-size, 14px);
    @include variable(textAlign, text-align, right);
    font-weight: 450;
    display: block;
  }
  &__row {
    display: flex;
    padding: 10px 0;
    @include variable(rowDirection, flex-direction, row);
    & label:first-child {
      margin-top: 6px;
      padding: 0 10px;
    }
    & label:last-child {
      margin: 6px 20px 0 20px;
      @include variable(mp-product-contentType_fontsize, font-size, 14px);
      font-weight: 500;
      cursor: pointer;
      &.--active {
        @include variable(
          mp-product-category_active_color,
          color,
          rgb(56, 132, 255)
        );
      }
    }
  }

  // .checkBox {
  //   display: block;
  //   position: relative;
  //   padding-left: 35px;
  //   cursor: pointer;
  //   font-size: 15px;
  //   -webkit-user-select: none;
  //   -moz-user-select: none;
  //   -ms-user-select: none;
  //   user-select: none;
  //   /* Hide the browser's default checkbox */
  //   input {
  //     position: absolute;
  //     opacity: 0;
  //     cursor: pointer;
  //     height: 0;
  //     width: 0;
  //   }

  //   /* Create a custom checkbox */
  //   .checkmark {
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     height: 20px;
  //     width: 20px;
  //     background-color: #eee;
  //     border-radius: 100%;
  //   }

  //   /* On mouse-over, add a grey background color */
  //   &:hover input ~ .checkmark {
  //     background-color: #ccc;
  //   }

  //   /* When the checkbox is checked, add a blue background */
  //   input:checked ~ .checkmark {
  //     background-color: rgb(56, 132, 255);
  //   }

  //   /* Create the checkmark/indicator (hidden when not checked) */
  //   .checkmark:after {
  //     content: "";
  //     position: absolute;
  //     display: none;
  //   }

  //   /* Show the checkmark when checked */
  //   input:checked ~ .checkmark:after {
  //     display: block;
  //   }

  //   /* Style the checkmark/indicator */
  //   .checkmark:after {
  //     left: 8px;
  //     top: 4px;
  //     width: 5px;
  //     height: 10px;
  //     border: solid white;
  //     border-width: 0 3px 3px 0;
  //     -webkit-transform: rotate(45deg);
  //     -ms-transform: rotate(45deg);
  //     transform: rotate(45deg);
  //   }
  // }
  .radio {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default radio button */
  .radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */
  .checkround {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    @include variable(
      mp-product-contentType_radio_bg,
      border-color,
      rgb(56, 132, 255)
    );
  }

  /* When the radio button is checked, add a blue background */
  .radio input:checked ~ .checkround {
    background-color: #fff;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkround:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .radio input:checked ~ .checkround:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
  .radio .checkround:after {
    left: 2px;
    top: 2px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
      @include variable(
      mp-product-contentType_radio_bg,
      background,
      rgb(56, 132, 255)
    );
  }

  /* The check */
  .check {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    padding-right: 15px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
}
