@mixin variable($variable, $property, $fallback) {
  // Fallback for browsers that don't support css vars
  #{$property}: $fallback;
  #{$property}: var(--#{$variable});
}
.mp-products__list {
  @include variable(mp-products-list-paddingLeft, padding-left, 50px);
  @include variable(mp-products-list-paddingRight, padding-right, 50px);
  &__header {
    display: flex;
    justify-content: space-between;
    @include variable(rowDirection, flex-direction, row);
    border-bottom: .5px solid lightgray;
    padding-bottom: 5px;
    & span:first-child {
      font-size: 22px;
      font-weight: 500;
    }
  }
  &__content {
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
  }
}
.product {
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 3px lightgray;
  width: calc(25% - 20px);
  display: flex;
  flex-direction: column;
  background: whitesmoke;
  border-radius: 5px;
  cursor: pointer;
  &__thumb {
    padding: 5px;
    height: 140px;
    background: whitesmoke;
    border-bottom: 0.5px solid lightgray;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__detail {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 10px;
  }
  &__name {
    flex: 1;
    font-weight: 500;
  }
}
