@import "./../../styles/mixins.scss";
body {
  background: whitesmoke !important;
}
.up-wrapper {
  min-height: 100vh;
  overflow: auto !important;
  .up-header {
    position: fixed;
    height: 60px;
    background: white;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 8px 2px lightgray;
    display: flex;
    padding: 0 3%;
    align-items: center;
    z-index: 100;

    .btn {
      position: absolute;
      @include variable(upsert-form-btn-left, left, 15px);
      @include variable(upsert-form-btn-right, right, 15px);
      display: flex;
      align-items: center;
      i {
        margin: 0 10px;
      }
    }
    .tabItems {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      .tabNumber {
        background: lightgray;
        color: black;
        font-size: 12px;
        width: 15px;
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 5px;
        border-radius: 100%;
        font-weight: bold;
        &.active {
          background: rgb(56, 132, 255);
          color: white;
        }
      }
      .item {
        cursor: pointer;
        font-size: 14px;
        color: gray;
        width: auto;
        border-radius: 0%;
        margin: 0;
        padding: 0 20px;
        text-align: center;
        border-right: 0.5px solid lightgray;
        // border-left: 0.3px solid lightgray;
        height: 40px;
        transition-duration: 0.2s;
        display: flex;
        align-items: center;
        justify-content: center;
        &.active {
          transition-duration: 0.2s;
          // font-size: 16px;
          color: black;
          font-weight: bold;
        }
      }
    }
  }
  .up-content {
    padding-top: 80px;
    padding-bottom: 30px;
    main {
      width: 768px;
      margin: auto;
      .contentTypeSearch {
        margin-top: 10px;
      }
      .up-content-itemTypes {
        background: white;
        min-height: 300px;
        padding: 20px;
        box-shadow: 0 0 3px lightgray;
        border-radius: 4px;
        margin-top: 10px;

        .listGroupItem {
          border-bottom: 1px solid whitesmoke;
          padding: 10px 0;
        }
      }
      .getItem-content-itemTypes {
        margin-top: 10px;
        .listGroupItem {
          border-bottom: 1px solid whitesmoke;
          padding: 10px 0;
        }
      }
      .up-content-title {
        font-size: 25px;
        font-weight: 500;
        margin: 10px 0;
        color: gray;
      }
      .up-categoryBox {
        height: 100px;
        box-shadow: 0 0 3px lightgray;
        margin-bottom: 10px;
        background: white;
        border-radius: 3px;
        display: flex;
        justify-content: flex-start !important;
        align-items: center;
        padding: 0 2%;
        span {
          flex: 1;
          font-size: 20px;
          font-weight: 500;
        }
        .selectedCategory-img {
          width: 80px;
          height: 70px;
          margin: 0 10px !important;
          border: 1px solid rgb(220, 220, 220);
          padding: 3px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .selectedCategory-icon {
          width: 80px;
          height: 70px;
          margin: 0 10px;
          padding: 3px;
          border: 1px solid rgb(220, 220, 220);
          .contentIcon {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            background: rgb(56, 132, 255);
            i {
              font-size: 35px;
              color: white;
            }
          }
        }
      }
      .linkBox {
        height: 80px;
        box-shadow: 0 0 3px lightgray;
        margin-bottom: 10px;
        background: white;
        border-radius: 3px;
        padding: 0 5%;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .linkmsg {
          padding-bottom: 10px !important;
        }
        a {
          margin-left: 5px;
        }
      }
      .up-formInputs {
        border-radius: 3px;
        background: white;
        box-shadow: 0 0 3px lightgray;
        padding: 2% 4%;
        input[readonly],
        textarea[readonly],
        select[disabled] {
          background: white;
        }
        .box {
          border-bottom: 5px solid whitesmoke;
        }
        .rowItem {
          margin: 20px 0;
          display: flex;
          & > * {
            width: 100%;
          }
          .column {
            flex: 1;
            @include variable(column, padding, 5px);
            &:last-child {
              padding: 0;
            }
          }
        }

        .actions {
          .btns {
            display: flex;
            flex-direction: row-reverse;
            .btn {
              margin-left: 10px;
            }
          }
        }
        .form-submit-btns {
          display: flex;
          flex-direction: row-reverse;
          button {
            margin-left: 10px;
            margin-top: 10px;
          }
        }
        .shortDesc textarea {
          min-height: 100px;
        }
        .longDesc textarea {
          min-height: 200px;
        }
      }
      .up-error-section {
        min-height: 250px;
        background: white;
        box-shadow: 0 0 3px lightgray;
        border-radius: 3px;
      }
    }
  }
}

.richText-header-customBtn {
  padding: 0 10px;
  color: gray;
  cursor: pointer;
}
.tabsSpinner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
  width: 100%;
  span {
    margin-top: 10px;
  }
}
.requestAlert {
  a {
    font-size: 14px;
    padding: 0 5px;
  }

  .requestAlert-top {
    display: flex;
    align-items: center;
    .alert-heading {
      margin-left: 10px;
      margin-right: 10px;
    }
    .requestSuccessIcon {
      width: 60px;
      height: 60px;
      border-radius: 100%;
      background-color: chartreuse;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 27px;
      margin: 0;
      margin-bottom: 10px;
    }
  }
  .form-group {
    margin-top: 20px;
  }
}

// spinner

.upsert__loading {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .loading {
    position: relative;
    height: 90px;
    width: 90px;
    margin: 20px auto;
    border: none;
  }

  .square {
    position: absolute;
    height: 40px;
    width: 40px;
    background: rgb(56, 132, 255);
    opacity: 0.2;
  }

  .square-a {
    -webkit-animation: fadeIn 2s infinite;
    -moz-animation: fadeIn 2s infinite;
    animation: fadeIn 2s infinite;
  }

  .state1a {
    top: 0;
    left: 0;
  }

  .state2a {
    top: 0;
    left: 50px;
    -webkit-animation-delay: 500ms;
    -moz-animation-delay: 500ms;
    animation-delay: 500ms;
  }

  .state3a {
    top: 50px;
    left: 50px;
    -webkit-animation-delay: 1000ms;
    -moz-animation-delay: 1000ms;
    animation-delay: 1000ms;
  }

  .state4a {
    top: 50px;
    left: 0;
    -webkit-animation-delay: 1500ms;
    -moz-animation-delay: 1500ms;
    animation-delay: 1500ms;
  }

  /*Square a blink blink*/
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0.2;
    }
    10% {
      opacity: 1;
    }
  }
  @-moz-keyframes fadeIn {
    0% {
      opacity: 0.2;
    }
    10% {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0.2;
    }
    10% {
      opacity: 1;
    }
  }

  @-webkit-keyframes state1-animation {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-moz-keyframes state1-animation {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes state1-animation {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes state2-animation {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    60% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-moz-keyframes state2-animation {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    60% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes state2-animation {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    60% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes state3-animation {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-moz-keyframes state3-animation {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes state3-animation {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes state4-animation {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-moz-keyframes state4-animation {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes state4-animation {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
