@import "./icons.css";
@import "./colors.scss";
@import "./variables.scss";
body {
  overflow-x: hidden;
}
*::-webkit-scrollbar,
div::-webkit-scrollbar,
html::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  transition: 1s ease-in-out;
  -webkit-transition-duration: 0.3s;
}
*::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb {
  background-color: lightgray;
  -webkit-border-radius: 10px;
  transition: 1s ease-in-out;
  -webkit-transition-duration: 0.3s;
}
html::-webkit-scrollbar-thumb:hover,
div::-webkit-scrollbar-thumb:hover,
*::-webkit-scrollbar-thumb:hover {
  background-color: rgb(145, 134, 134);
  transition: 1s ease-in-out;
  -webkit-transition-duration: 0.3s;
}

html::-o-scrollbar,
div::-o-scrollbar {
  width: 9px;
  transition: 1s ease-in-out;
  transition-duration: 0.3s;
}
html::-o-scrollbar-thumb,
div::-o-scrollbar-thumb {
  background-color: lightgray;
  -webkit-border-radius: 10px;
  transition: 1s ease-in-out;
  transition-duration: 0.3s;
}
html::-o-scrollbar-thumb:hover,
div::-o-scrollbar-thumb:hover {
  transition: 1s ease-in-out;
  transition-duration: 0.3s;
}

html::-moz-scrollbar,
div::-moz-scrollbar {
  width: 9px;
  transition: 1s ease-in-out;
  transition-duration: 0.3s;
}
html::-moz-scrollbar-thumb,
div::-moz-scrollbar-thumb {
  background-color: lightgray;
  -webkit-border-radius: 10px;
  transition: 1s ease-in-out;
  transition-duration: 0.3s;
}
html::-moz-scrollbar-thumb:hover,
div::-moz-scrollbar-thumb:hover {
  background-color: rgb(145, 134, 134);
  transition: 1s ease-in-out;
  transition-duration: 0.3s;
}

