.c-category-templates-body {
  .templateTypes {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 0px;
    &__header {
      font-size: 15px;
      margin: 10px;
      text-align: justify;
    }
    &__content {
      display: flex;
      .box {
        border-radius: 3px;
        flex: 1;
        margin: 20px 10px;
        min-height: 200px;
        box-shadow: 0 0 1px gray;
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
        cursor: pointer;
        &:hover {
          box-shadow: 0 0 5px lightgray;
        }
        &__header {
          height: 130px;
          background: whitesmoke;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 50px;
          color: rgb(56, 132, 255);
        }
        &__title {
          padding: 10px 0;
          text-align: center;
          font-size: 18px;
          font-weight: bold;
        }
        &__desc {
          font-size: 13px;
          text-align: center;
        }
      }
    }
  }
  .partners {
    &__items {
      display: flex;
      flex-wrap: wrap;
      .user {
        transition-duration: 0.3s;
        width: calc(25% - 10px);
        margin: 5px;
        margin-bottom: 10px;
        min-height: 190px;
        background: white;
        // box-shadow: 0 0 5px lightgray;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        border: 1px solid lightgray;
        cursor: pointer;
        &:hover {
          box-shadow: 0 0 10px lightgray;
        }
        &.active {
          background: lightgray;
          border: 5px solid lightgray;
        }
        &__top {
          height: 140px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        &__avatar {
          width: 100%;
          height: 100%;
          background: white;
          padding: 4px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        &__bottom {
          flex: 1;
          padding: 5px;
          text-align: center;
          font-size: 14px;
          font-weight: bold;
        }
      }
    }
  }
  .files-uploaded {
    .un-icon {
      font-size: 25px;
    }
    .un-text {
      font-size: 15px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-weight: 500;
      padding-top: 10px;
      width: 100px;
    }
  }
  .fieldsTab {
    display: flex;
    flex-wrap: wrap;
    min-height: 300px;
    justify-content: flex-start;
    .add-field-types {
      margin: 20px 10px;
      width: calc(25% - 20px);
      display: flex;
      flex-direction: column;
      .add-field-icon {
        height: 100px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: whitesmoke;
        color: rgb(56, 132, 255);
        font-size: 40px;
        box-shadow: 0 0 5px lightgray;
      }
      .title {
        margin-top: 10px;
        text-align: center;
      }
      .description {
        text-align: center;
        font-size: 13px;
        color: gray;
      }
    }
  }
  .formTab {
    padding: 3%;
    .formTab-row {
    }
  }
}
