.p-wrapper {
  flex: 1;
  margin: 3% 3% 1%;
  display: flex;
  flex-direction: column;
  .p-header {
    height: 80px;
    display: flex;
    .p-header-left {
      display: flex;
      justify-content: center;
      flex-direction: column;
      .p-header-title {
        font-size: 25px;
        font-weight: 500;
      }
      .p-header-description {
        font-size: 11px;
        color: gray;
      }
    }
    .p-header-right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex: 1;
      .btn {
        margin-left: 10px;
      }
      .input-group {
        max-width: 400px;
      }
    }
  }
  .p-content {
    flex: 1;
    display: flex;
    .p-content-left {
      //   background-color: white;
      //   box-shadow: 0 0 3px lightgray;
      margin-right: 10px;
      overflow: auto;
      flex: 1;
      min-width: 300px;
      border-radius: 4px;
      .filterBox {
        background: white;
        box-shadow: 0 0 10px lightgray;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        border-radius: 4px;
        .filter-header {
          padding: 10px;
          display: flex;
          align-items: center;
          font-size: 17px;
          font-weight: 500;
          // background: rgb(253, 253, 253);
          border-bottom: 2px solid whitesmoke;
        }
        .filter-body {
          padding: 10px;
          .selectedFilters {
            display: flex;
            padding: 10px 0;
            .filterItem {
              min-width: 70px;
              align-items: center;
              background: whitesmoke;
              margin-right: 10px;
              display: flex;
              justify-content: space-between;
              padding: 5px;
              border-radius: 4px;
              .filterText {
                margin-right: 10px;
                font-size: 14px;
                font-weight: 500;
              }
              .icon {
                cursor: pointer;
                font-size: 9px;
              }
            }
          }
          .filter-list-item {
            display: flex;
            align-items: center;
            height: 30px;
            margin: 5px 0;
            .item-checkbox {
              width: 20px;
              height: 20px;
              border-radius: 4px;
              background-color: whitesmoke;
              margin-right: 10px;
              border: 0.5px solid lightgray;
            }
            .item-name {
              font-weight: 400;
              font-size: 14px;
              cursor: pointer;
            }
          }
          .listGroup {
            padding: 0 !important;
            margin: 0 !important;
            border: 0;
            .listGroupItem {
              padding: 10px 0 !important;
              border: 0;
              display: flex;
              align-items: center;
              height: 30px;
              .icon {
                font-size: 9px;
              }
              input {
                width: 15px;
                height: 15px;
                background: whitesmoke!important
              }
              label{
                margin-left: 10px;

              }
            }
          }
        }
      }
    }
    .p-content-right {
      flex: 2.2;
      background-color: white;
      box-shadow: 0 0 3px lightgray;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      overflow-x: auto;
      height: 100%;
      .p-header-td{
        text-align: left
      }
      .p-content-right-header {
        height: 50px;
        display: flex;
        align-items: center;
        padding: 0 2%;
        border-bottom: 1px solid whitesmoke;
        .p-content-header-title {
          font-size: 18px;
          font-weight: 500;
          margin-right: 15px;
          span {
            margin-left: 10px;
            font-size: 13px;
          }
        }
        .p-content-header-filters {
          display: flex;
          .filterItem {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: whitesmoke;
            min-width: 70px;
            height: 25px;
            padding: 0 10px;
            margin: 0 5px;
            border-radius: 3px;
            .filterText {
              font-size: 13px;
              font-weight: 500;
              margin-right: 10px;
            }
            .icon {
              font-size: 9px;
              cursor: pointer;
            }
          }
        }

      }
      .p-content-right-body {
        overflow: auto !important;
        
        .ReactTable .rt-thead.-header{
          box-shadow: 0 0 4px lightgray;
        }
        .p-number {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .p-number-value {
          width: 30px;
          height: 30px;
          border-radius: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: black;
          background: whitesmoke;
          border: 0.5px solid lightgray;
        }

        .p-image {
          width: 80px;
          height: 70px;
          border: 1px solid whitesmoke;
          padding: 5px;
        }
        .p-image-value {
          width: 100%;
          height: 100%;
        }
        .p-name {
          display: flex;
          align-items: center;
          height: 100%;
          font-weight: bold;
        }
        .p-issuer {
          height: 100%;
          display: flex;
          align-items: center;
          font-size: 13px;
          margin-left: 10px;
          font-weight: 500;
        }
        .p-date {
          height: 100%;
          display: flex;
          align-items: center;
          font-size: 13px;
        }
        .p-description {
          height: 100%;
          display: flex;
          align-items: center;
          font-size: 13px;
        }
        .p-actions {
          height: 100%;
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          .btn {
            margin-left: 10px;
          }
        }
        .p-string {
          height: 100%;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

.p-category-modal-body {
  padding-top: 20px;
}
