.p-wrapper {
  flex: 1;
  margin: 3% 3% 1%;
  display: flex;
  flex-direction: column;
  .p-header {
    height: 80px;
    display: flex;
    .p-header-left {
      display: flex;
      justify-content: center;
      flex-direction: column;
      .p-header-title {
        font-size: 25px;
        font-weight: 500;
      }
      .p-header-description {
        font-size: 11px;
        color: gray;
      }
    }
    .p-header-right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex: 1;
      .btn {
        margin-left: 10px;
      }
      .input-group {
        max-width: 400px;
      }
    }
  }
  .p-content {
    flex: 1;
    display: flex;
    .p-content-left {
      //   background-color: white;
      //   box-shadow: 0 0 3px lightgray;
      margin-right: 20px;
      overflow: auto;
      flex: 1;
      min-width: 300px;
      border-radius: 4px;
    }
    .p-content-right {
      flex: 2.2;
      background-color: white;
      box-shadow: 0 0 3px lightgray;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      overflow-x: auto;
      .p-content-right-header {
        height: 50px;
        display: flex;
        align-items: center;
        padding: 0 2%;
        .p-content-header-title {
          font-size: 18px;
          flex: 1;
          font-weight: 500;
          span {
            margin-left: 10px;
            font-size: 13px;
          }
        }
        .input-group {
          max-width: 400px;
        }
      }
      .p-content-right-body {
        flex: 1;
        overflow: auto !important;
        .p-number {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .p-number-value {
          width: 30px;
          height: 30px;
          border-radius: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: black;
          background: whitesmoke;
          border: 0.5px solid lightgray;
        }

        .p-image {
          width: 80px;
          height: 70px;
          border: 1px solid whitesmoke;
          padding: 5px;
        }
        .p-image-value {
          width: 100%;
          height: 100%;
        }
        .p-name {
          display: flex;
          align-items: center;
          height: 100%;
          font-weight: bold;
        }
        .p-price {
          height: 100%;
          display: flex;
          align-items: center;
          font-size: 15px;
        }
        .p-description {
          height: 100%;
          display: flex;
          align-items: center;
          font-size: 13px;
        }
        .p-actions {
          height: 100%;
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          .btn {
            margin-left: 10px;
          }
        }
        .p-string {
          height: 100%;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

.p-category-modal-body {
  padding-top: 20px;
}
