@mixin variable($variable, $property, $fallback) {
  // Fallback for browsers that don't support css vars
  #{$property}: $fallback;
  #{$property}: var(--#{$variable});
}
.mp-products__detail {
  @include variable(mp-products-list-padding, padding, 50px);
  &__header {
    display: flex;
    justify-content: space-between;
    @include variable(rowDirection, flex-direction, row);
    @include variable(
      products-right-header-border,
      border-bottom,
      0.5px solid lightgray
    );
    padding-bottom: 5px;
  }
  &__content {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    .detail {
      @include variable(rowDirection, flex-direction, row);
      display: flex;
      &__left {
        flex: 1.7;
        display: flex;
        flex-direction: column;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
      &__right {
        height: 370px;
        flex: 1;
        padding: 20px;
        display: flex;
        flex-direction: column;
      }
      &__title {
        @include variable(textAlign, text-align, left);
      }
      &__description {
        @include variable(textAlign, text-align, left);
      }
      &__actions {
        flex: 1;
        display: flex;
        align-items: flex-end;
        @include variable(rowDirection, flex-direction, row);
        button {
          margin: 0 6px;
        }
      }
    }
  }
}
.mediaViewer {
  height: 350px;
  padding: 5px 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include variable(products-detail-media-bg, background, white);
  @include variable(
    products-detail-media-border,
    border,
    0.5px solid lightgray
  );
  &__empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__uknownType {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      .un-icon {
        font-size: 50px;
        margin-bottom: 10px;
      }
    }
  }
  video {
    width: 100%;
    height: 100%;
  }
}

.mediaViews_attachments {
  flex: 1;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  @include variable(rowDirection, flex-direction, row);
  .attItems {
    width: calc(16.5% - 10px);
    height: 70px;
    display: flex;
    margin:0 5px;
    position: relative;
    &__preview {
      cursor: pointer;
      height: 70px;
      width: 100%;
      flex-shrink: 0;
      position: relative;
      padding: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include variable(products-detail-attachment-bg, background, white);
      @include variable(
        products-detail-attachment-unknow-fontSize,
        font-size,
        18px
      );
      @include variable(
        products-detail-attachment-border,
        border,
        2px solid lightgray
      );
      &.--active {
        transition-duration: 0.2s;
        @include variable(
          products-detail-attachment-active-border,
          border,
          2px solid rgb(56, 132, 255) !important
        );
      }
      .unkownFile {
        .un-icon {
        }
        .un-text {
          margin-top: 5px;
          font-size: 12px;
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      video {
        width: 100%;
        height: 100%;
        object-fit: contain;
        pointer-events: none;
      }
      audio {
        width: 100%;
        height: 100%;
        pointer-events: none;
        object-fit: contain;
      }
    }
    &__selected {
      transition-duration: 0.2s;
      position: absolute;
      left: -10px;
      top: -10px;
      font-size: 13px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25px;
      height: 25px;
      color: white !important;
      cursor: pointer;
      @include variable(
        products-detail-attachment-activeCircle-bg,
        background,
        rgb(56, 132, 255) !important
      );
      @include variable(
        products-detail-attachment-activeCircle-color,
        color,
        white !important
      );
    }

    .listItem-name {
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: 11px;
    }
  }
}

.moreInfo {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  overflow: auto;
  display: flex;
  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: lightgray;
    cursor: pointer;
  }
  &__content {
    width: 992px;
    margin: auto;
    min-height: 100vh;
    background: whitesmoke;
    position: relative;
    border: 1px solid lightgray;
    img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      position: absolute;
      z-index: 1;
    }
    &__html {
      position: absolute;
      z-index: 2;
      img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        position: absolute;
        z-index: 1;
        display: none;
      }
    }
    //@include variable(mp-product-moreInfo-bg, background, "");
    // background: url("https://www.setaswall.com/wp-content/uploads/2017/03/Green-Nature-Grass-Bokeh-Blurred-Wallpaper-1920x1200.jpg");
    //     background-repeat: no-repeat;
    // background-attachment: fixed;
    // background-position: center top;
  }
}
