@mixin variable($variable, $property, $fallback) {
  // Fallback for browsers that don't support css vars
  #{$property}: $fallback;
  #{$property}: var(--#{$variable});
}
@font-face {
  font-family: "Samim";
  src: url("./../../../node_modules/samim-font/dist/Samim.eot");
  src: url("./../../../node_modules/samim-font/dist/Samim.eot?#iefix")
      format("embedded-opentype"),
    url("./../../../node_modules/samim-font/dist/Samim.woff") format("woff"),
    url("./../../../node_modules/samim-font/dist/Samim.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "OpenSance";
  src: url("./../../assets/fonts/OpenSans-Regular.ttf");
  font-weight: bold;
}
body {
  //@include variable(fontFamily, font-family, null);
  font-family: Samim, OpenSance;
}
.mp-page {
  height: 100vh;
  padding: 3% 0;
  overflow: auto;
  @include variable(mp-header-height, margin-top, 60px);
}
.mp-products {
  &__content {
    display: flex;
    min-width: 1150px;
    padding: 0 5%;
    margin: auto;
    @include variable(mp-page-products-direction, flex-direction, row);
  }
  &__left {
    width: 270px;
    display: flex;
    flex-direction: column;
  }
  &__search {
    display: flex;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 20px;
    @include variable(mp-products-search_bg, background, white);
    @include variable(rowDirection, flex-direction, row);
    @include variable(
      mp-page-products-searchbox_border,
      border,
      1px solid lightgray
    );
  }
  &__iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    .icon {
      @include variable(mp-page-products-searchIcon, color, black);
    }
  }
  &__inputWrapper {
    flex: 1;
    display: flex;
    input {
      padding: 0 10px;
      border-radius: 20px;
      border: none;
      width: 100%;
      @include variable(textAlign, text-align, left);
      &:focus {
        outline: none;
      }
    }
  }
  &__right {
    flex: 1;
  }
}
.filters {
  display: flex;
  align-items: center;
  padding: 5px !important;
  border-radius: 5px;
  @include variable(products_list_filters_background, background, goldenrod);
  @include variable(products_list_filters_color, color, white);
  @include variable(products_list_filters_margin, margin, 0 5px);
  @include variable(rowDirection, flex-direction, row);
  &__title {
    @include variable(
      products_list_filters_titleFontSize,
      font-size,
      13px !important
    );
    @include variable(products_list_filters_color, color, white);
    padding: 0 5px;
  }
  &__icon {
    @include variable(
      products_list_filters_iconFfontSize,
      font-size,
      11px !important
    );
    padding: 5px;
    cursor: pointer;
  }
}
