@mixin variable($variable, $property, $fallback) {
  // Fallback for browsers that don't support css vars
  #{$property}: $fallback;
  #{$property}: var(--#{$variable});
}
body {
  background: white !important;
}
.mp-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0 2px lightgray;

  @include variable(mp-header-background, background, black);
  @include variable(mp-header-height, height, 60px);

  &__content {
    max-width: 1150px;
    margin: auto;
    display: flex;
    height: 100%;;
    @include variable(rowDirection, flex-direction, row);
  }
  &__left {
    display: flex;
    align-items: center;
    width: 200px;
    @include variable(mp-header-left-direction, flex-direction, row);
  }
  &__logo {
    width: 50px;
    height: 50px;
  }
  &__logoTitle {
    margin: 0 10px;
    @include variable(mp-header__logoTitle-color, color, white);
  }
  &__center {
    flex: 1;
    display: flex;
    @include variable(mp-header-center-direction, flex-direction, row);
  }
  &__menuWrapper {
    display: flex;
    list-style: none;
    @include variable(mp-header-menuWrappr-direction, flex-direction, row);
    @include variable(mp-header-height, height, 60px);
  }
  &__menuItem {
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-weight: 400;
    height: 100%;
    text-decoration: none;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 0%;
      margin: auto;
      height: 4px;
      opacity: 0;
      transition-duration: 0.2s;
      width: 0;
      @include variable(
        mp-header__menuItem-hover,
        background,
        rgb(126, 182, 255)
      );
    }
    &:hover::before {
      width: 90%;
      opacity: 1;
      transition-duration: 0.2s;
    }
  }
  a {
    @include variable(mp-header__menuItem-color, color, black);
    text-decoration: none;
  }
  &__link {
    @include variable(mp-header__menuItem-fontSize, font-size, 13px);
    @include variable(mp-header__menuItem-color, color, black);
    @include variable(mp-header__menuItem-color, color, black);
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    &::hover {
      @include variable(mp-header__menuItem-color, color, black);
      text-decoration: none;
    }
    .--active {
      position: relative;
      &::before {
        content: "";
        display: none;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        margin: auto;
        height: 4px;
        opacity: 1;
        @include variable(
          mp-header__menuItem-active,
          background,
          rgb(86, 132, 255)
        );
      }
    }
  }
  &__right {
  }
}

.button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.15s ease;

  @include variable(button-margin-left, margin-left, 200px);

  @include variable(button-border, border, none);
  @include variable(button-padding, padding, 1rem);
  @include variable(button-border-radius, border-radius, 0);
  @include variable(button-font-weight, font-weight, normal);
  @include variable(button-font-size, font-size, 1.2rem);
  @include variable(button-text-transform, text-transform, uppercase);

  @include variable(button-color, color, #000);
  @include variable(button-background, background, #fff);

  &:hover {
    @include variable(button-hover-border, border, none);
    @include variable(button-hover-color, color, #000);
    @include variable(button-hover-background, background, #efefef);
    @include variable(button-hover-transform, transform, none);
  }

  &:active {
    @include variable(button-active-border, border, none);
    @include variable(button-active-color, color, #000);
    @include variable(button-active-background, background, #ccc);
    @include variable(button-active-transform, transform, none);
  }

  &:focus {
    // Don't do this in production for accessibility reasons
    outline: 0;
  }
}
