@mixin variable($variable, $property, $fallback) {
  // Fallback for browsers that don't support css vars
  #{$property}: $fallback;
  #{$property}: var(--#{$variable});
}

body {
  overflow: hidden;
}
.mp-content {
  @include variable(mp-header-height, margin-top, 60px);
  height: 100vh;
  overflow: auto;
}

.lineSkeleton {
  display: flex;
  .lines {
    border-radius: 8px;
    background: white;
    width: 100%;
  }
  .lines .line {
    margin-bottom: 10px;
    float: left;
    height: 20px;
    border-radius: 10px;
    background-color: whitesmoke;
    background-image: linear-gradient(
      90deg,
      whitesmoke 0px,
      #e8e8e8 40px,
      whitesmoke 80px
    );
    background-size: 600px;
  }
  .l1 {
    width: 100%;
    animation: shine-line 2s infinite ease-in-out;
  }
  .l2 {
    animation: shine-line 2.5s infinite ease-in-out;
    width: 90%;
    margin-left: 10%;
  }
}

@keyframes shine-line {
  0% {
    background-position: -32px;
  }
  40%,
  100% {
    background-position: 208px;
  }
}

.radioSkeleton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .post {
    border-radius: 8px;
    background: white;
    width: 100%;
  }
  .post .avatar {
    float: left;
    width: 25px;
    height: 25px;
    background-color: whitesmoke;
    border-radius: 100%;
    margin: 8px;
    background-image: linear-gradient(
      90deg,
      whitesmoke 0px,
      #e8e8e8 40px,
      whitesmoke 80px
    );
    background-size: 600px;
    animation: shine-avatar 3s infinite ease-in-out;
  }
  .post .lines {
    display: flex;
    flex-direction: column;
  }
  .post {
    .line {
      float: left;
      width: 100%;
      height: 16px;
      margin-top: 12px;
      border-radius: 7px;
      background-image: linear-gradient(
        90deg,
        whitesmoke 0px,
        #e8e8e8 40px,
        whitesmoke 80px
      );
      background-size: 600px;
      animation: shine-lines 3s infinite ease-in-out;
    }
  }

  .post .avatar + .line {
    margin-top: 11px;
    width: 100px;
  }
  .post .line ~ .line {
    background-color: #ddd;
  }
}
@keyframes shine-lines {
  0% {
    background-position: -100px;
  }
  60%,
  100% {
    background-position: 100%;
  }
}

@keyframes shine-avatar {
  0% {
    background-position: -32px;
  }
  40%,
  100% {
    background-position: 208px;
  }
}
