.up-form-keyvalue-radio {
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .form-check{
    margin: 5px 0!important
  }
}
