@mixin variable($variable, $property, $fallback) {
  // Fallback for browsers that don't support css vars
  #{$property}: $fallback;
  #{$property}: var(--#{$variable});
}
.mp-products__list {
  @include variable(mp-products-list-padding, padding, 50px);
  &__header {
    display: flex;
    justify-content: space-between;
    @include variable(rowDirection, flex-direction, row);
    @include variable(
      products-right-header-border,
      border-bottom,
      0.5px solid lightgray
    );
    padding-bottom: 5px;
    & span:first-child {
      @include variable(products-list-header-title, font-size, 22px);
      font-weight: 500;
    }
    &__filters {
      display: flex;
    }
  }
  &__content {
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    @include variable(rowDirection, flex-direction, row);
  }
}
.product {
  margin: 0 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 3px white;
  width: calc(25% - 20px);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  @include variable(products-list-item-bg, background, white);
  cursor: pointer;
  &__thumb {
    padding: 5px;
    height: 140px;
    @include variable(
      products-list-item-border,
      border-bottom,
      0.5px solid whitesmoke
    );
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__detail {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 10px;
    @include variable(rowDirection, flex-direction, row);
  }
  &__name {
    flex: 1;
    font-weight: 500;
    @include variable(textAlign, text-align, left);
  }
}

.fpo {
  position: relative;
  margin: 10% auto;
  display: block;
}
.pulsate {
  background: linear-gradient(-45deg, #dddddd, #f0f0f0, #dddddd, #f0f0f0);
  background-size: 400% 400%;
  -webkit-animation: Gradient 2.25s ease infinite;
  -moz-animation: Gradient 2.25s ease infinite;
  animation: Gradient 2.25s ease infinite;
}
.block {
  display: block;
  width: 100%;
  height: 16px;
  color: black;
  display: none;
}
.block2 {
  width: 78px;
  height: 8px;
  margin-bottom: 8px;
}
.block3 {
  width: 131px;
  height: 8px;
  margin-bottom: 16px;
}
.circle {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  float: right;
  display: none;
}
#card {
  box-sizing: border-box;
  background: #fff;

  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 1px lightgray;
  width: calc(25% - 20px);
}
.card-image {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 140px;
  background: #fafafa;
  padding: 16px;
}
.card-content {
  clear: both;
  box-sizing: border-box;
  padding: 16px;
  background: #fff;
}
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
