@mixin variable($variable, $property, $fallback) {
  // Fallback for browsers that don't support css vars
  #{$property}: $fallback;
  #{$property}: var(--#{$variable});
}
.mp-p__c {
  margin-bottom: 20px;
  &__header {
    @include variable(
      mp-product-filter_header-border,
      border-bottom,
      1px solid rgb(230, 230, 230)
    );
    padding: 10px 0;
  }
  &__title {
    @include variable(mp-product-filter_title_fontsize, font-size, 14px);
    @include variable(textAlign, text-align, right);
    font-weight: 450;
    display: block;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
  }
  &_categoryItem {
    padding: 6px 0;
    display: flex;
    align-items: center;
    @include variable(rowDirection, flex-direction, row);
    .categoryName {
      flex: 1;
      font-size: 14px;
      @include variable(textAlign, text-align, right);
    }
    .categoryCount {
      font-size: 13px;
    }
  }
}
.lineSkeleton {
  display: flex;
  .lines {
    border-radius: 8px;
    background: white;
    width: 100%;
  }
  .lines .line {
    margin-bottom: 10px;
    float: left;
    height: 20px;
    border-radius: 10px;
    background-color: whitesmoke;
    background-image: linear-gradient(
      90deg,
      whitesmoke 0px,
      #e8e8e8 40px,
      whitesmoke 80px
    );
    background-size: 600px;
  }
  .l1 {
    width: 100%;
    animation: shine-line 2s infinite ease-in-out;
  }
  .l2 {
    animation: shine-line 2.5s infinite ease-in-out;
    width: 90%;
    margin-left: 10%;
  }
}

@keyframes shine-line {
  0% {
    background-position: -32px;
  }
  40%,
  100% {
    background-position: 208px;
  }
}
