.myTable {
  .myTable-number {
    background: rgb(86, 132, 255);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    width: 30px;
    height: 30px;
  }
  .myTable-actions {
    display: flex;
    flex-direction: row-reverse;
    button {
      margin-left: 10px;
    }
  }
  thead {
    background: whitesmoke;
    th {
      font-weight: 400;
      font-size: 14px;
      border-right: 0.5px solid lightgray;
    }
  }
  tbody {
    td {
      font-weight: 400;
      font-size: 13px;
    }
    tr td:nth-child(2) {
      font-size: 14px;
      font-weight: 500;
    }

    .badge {
      padding: 5px;
    }
  }
}
