.webhooksBody {
  .fristTab {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    .webhookItem {
      width: calc(20% - 10px);
      margin: 0 10px 15px 0;
      cursor: pointer !important;
      .w-top {
        height: 100px;
        background: whitesmoke;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 60px;
          height: 60px;
        }
      }
      .w-bottom {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 12px;
        & span:first-child {
          font-size: 15px;
          font-weight: 500;
        }
      }
    }
  }
}
.templatesHeader {
  img {
    width: 40px;
    height: 40px;
  }
  span {
    margin-left: 10px;
  }
}
.webhookTemplates {
  .webhookTemplates-body {
    padding: 0 10px;
    ul {
      padding-left: 15px;
    }
  }
  .webhookTemplates-footer {
    display: flex;
    flex-direction: row-reverse;
    border-top: 0.5px solid lightgray;
    align-items: center;
    padding-top: 20px;
    button {
      margin-left: 5px;
    }
  }
}
