@mixin variable($variable, $property, $fallback) {
  // Fallback for browsers that don't support css vars
  #{$property}: $fallback;
  #{$property}: var(--#{$variable});
}
.mp-products__detail {
  @include variable(mp-products-list-paddingLeft, padding-left, 50px);
  @include variable(mp-products-list-paddingRight, padding-right, 50px);
  &__header {
    display: flex;
    justify-content: space-between;
    @include variable(rowDirection, flex-direction, row);
    border-bottom: 0.5px solid lightgray;
    padding-bottom: 5px;
    & span:first-child {
      font-size: 22px;
      font-weight: 500;
    }
  }
  &__content {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    .detail {
      display: flex;
      &__left {
        flex: 1.5;
        border: 1px solid whitesmoke;
        padding: 10px;
        img {
          width: 100%;
        }
      }
      &__right {
        flex: 1;
        padding: 20px;
        display: flex;
        flex-direction: column;
      }
      &__actions {
        flex: 1;
        display: flex;
        align-items: flex-end;
        button {
          margin: 0 6px;
        }
      }
    }
  }
}
